src/main/xsd/state/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="changed"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changed">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="new_value" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
